header {

    background: url("forside.png");
    height: 560px;
}

body {

    background: url("logo-01.png");

}

header,
nav {
    padding: 0;
    margin: 0;
}

nav a {

    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    color: #ffffff;
    margin: 5vw;


}

nav {

    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 1.8em;
    background-color: #90A681;
    padding-top: 50px;
    padding-bottom: 50px;

}

nav a:hover {
    background-color: rgba(51, 51, 51, 0.15);
    color: rgba(0, 0, 0, .7);

}




.data-container {
    display: grid;
}

.logoet {
    max-width: 500px;
    max-height: 1000px;
    display: block;
    margin: auto;
}


h1 {
    font-family: 'Julius Sans One', sans-serif;
    display: block;
    text-align: center;
    margin-top: -1vw;
    font-size: 2.8em;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;

}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    display: block;
    text-align: center;
    margin-top: -2vw;
    font-size: 1.4em;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.9em;
    text-align: left;
}

p {

    font-family: Kohinoor Bangla, sans-serif;
}



#menu img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


#menu {
    border: solid;
    width: 600px;
    display: block;
    margin: auto;
    border: solid 7px #90A681;
    padding-bottom: 4vw;
    padding-top: 6vw;

}

#menu h2 {
    font-size: 1.4em;
    font-family: serif;
    letter-spacing: 0.5px;
    line-height: 3;


}

#menu p {
    font-size: 0.9em;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 2;

}

#menu h3 {
    margin-top: 4vw;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.2em;
    letter-spacing: 4px;
}

.data-forretter {
    text-align: center;

}

.data-hovedretter {
    text-align: center;
}

#intro {
    background-color: white;
    padding: 5vw;
    margin-top: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vw;
    border: solid 10px #90A681;




}

#intro h4 {
    text-align: center;
}

.intro-tekst {
    column-count: 2;

}


#afslutning {
    background-color: rgba(144, 166, 129, 0.49);
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vw;
    padding: 3vw;
    font-size: 1.3vw;
    font-family: 'Julius Sans One', sans-serif;


}

#afslutning p {
    font-family: 'Julius Sans One', sans-serif;
}


.vl {
    border-left: 2px solid black;
    height: 100px;
    position: absolute;
    left: 37.5vw;
    top: 32vw;
}


.vl2 {
    border-left: 2px solid black;
    height: 100px;
    position: absolute;
    left: 60vw;
    top: 32vw;
}



h1::first-letter {
    text-transform: uppercase;
}

@media screen and (min-width:480px) {
    .data-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-row-gap: px;
        margin: 0 auto;
    }

}



@media screen and (max-width:480px) {
    .logoet {
        max-width: 300px;
    }

    .logoet h1 {
        font-size: 40em;
    }


}

@media screen and (max-width:480px) {

    h1 {
        font-size: 1.9em;
    }

    h3 {
        font-size: 1.1em;
        margin-top: -4vw;
    }

    header {
        background: url("blomst.header-01.png");

    }




}

@media screen and (max-width:480px) {
    #intro {
        background-color: rgba(255, 255, 255, 0.14);
        column-count: 1;
        font-size: 0.9em;
    }

    #afslutning {
        background-color: rgba(245, 245, 245, 0.05);
        font-size: 1em;
        margin: auto;

    }

    header {
        max-height: 300px
    }

    #menu {
        max-width: 300px;
        margin-top: 12vw;



    }

    #menu img {
        max-width: 180px;
        margin-top: 11vw;
        padding-bottom: 7vw;
    }

    #menu h3 {
        font-size: 1.7em;
        text-align: center;
        margin-top: 6vw;

    }

    #menu h2 {
        font-size: 1.2em;
    }

    #menu p {
        font-size: 0.8em;
        margin-top: -2vw;

    }

}

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(144, 166, 129, 0.53);
    text-align: center;
    /** skjuler den **/
    transition: 1s;
    opacity: 0;
    pointer-events: none;

}

#modal-content {
    width: 70vw;
    height: 70vh;
    background-color: rgba(250, 250, 250, 0.94);
    margin: auto;
    column-count: 2;


}

#modal.vis {

    opacity: 1;
    pointer-events: all;
    top: 0;
}

#modal img {
    max-width: 500px;
    pointer-events: all;
    display: block;
    margin: auto;
    margin-top: 5vw;

}

#krydder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5vw;
    margin-bottom: 5vw;

}
